<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Fragment #1 : Header files contains css and js references -->
<head th:fragment="headerfiles">
    <title>Quản Lý Văn Bản</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/fontawesome/icon.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome/font-awesome.min.css}">
    <link th:href="@{/assets/css/material-dashboard.css}" rel="stylesheet" />
    <script th:href="@{/assets/js/core/jquery.min.js}"></script>
    <script th:href="@{/assets/js/core/popper.min.js}"></script>
    <script th:href="@{/assets/js/core/material-dashboard.js}"></script>
    <script th:href="@{/assets/js/core/bootstrap-material-design.min.js}"></script>
</head>
<body>

<div class="wrapper ">
    <div class="sidebar" data-color="green" data-background-color="white" th:fragment="sidebar" >
        <div class="logo">
            <a class="simple-text logo-normal"> Quản lý Công Văn </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav" id="myTab">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{~/dashboard}"> <i class="material-icons">dashboard</i>
                    <p>Trang chủ</p>
                </a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item " >
                    <a class="nav-link" href="/user/profile">
                    <i class="material-icons">person</i>
                    <p>Thông Tin Cá Nhân</p>
                </a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item " ><a class="nav-link" href="/document-type/getAll">
                    <i class="material-icons">content_paste</i>
                    <p>Quản Lý Loại Văn Bản</p>
                </a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item "  ><a class="nav-link"
                                         href="/user/getAll"> <i class="material-icons">library_books</i>
                    <p>Quản Lý Giáo Viên</p>
                </a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item " ><a  class="nav-link" href="/organization/getAll">
                    <i class="material-icons">bubble_chart</i>
                    <p>Nơi Ban Hành</p>
                </a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item " ><a class="nav-link" href="/documentarr/getAll">
                    <i class="material-icons">location_ons</i>
                    <p>Văn Bản Đến</p>
                </a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item " ><a class="nav-link"
                                         href="/documentpass/getAll"> <i class="material-icons">notifications</i>
                    <p>Văn Bản Đi</p>
                </a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item " ><a class="nav-link" href="#">
                    <i class="material-icons">language</i>
                    <p>Tìm Kiếm - Thống Kê</p>
                </a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item " ><a class="nav-link" href="/authorize/getAll">
                    <i class="material-icons">unarchive</i>
                    <p>Phân Quyền Truy Cập</p>
                </a></li>

            </ul>
        </div>
    </div>
    <div class="main-panel" >
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " th:fragment="navbar">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="/dashboard">Trang Chủ</a>
                </div>

                <div class="collapse navbar-collapse justify-content-end">

                    <ul class="navbar-nav">

                        <li class="nav-item dropdown"><a class="nav-link"
                                                         href="/logout" id="navbarDropdownProfile" data-toggle="dropdown"
                                                         aria-haspopup="true" aria-expanded="false"> <i
                                class="material-icons">person</i>
                            <p class="d-lg-none d-md-block">Account</p>
                        </a>
                            <div class="dropdown-menu dropdown-menu-right"
                                 aria-labelledby="navbarDropdownProfile">
                                <a class="dropdown-item" href="#">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log out</a>
                            </div></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div id="image-dashboard" style="width: 95%; height: 500px; margin: -25px auto">

            </div>
        </div>

    </div>
</div>


<!--&lt;!&ndash; Fragment #2 : Navbar contains nav links &ndash;&gt;-->
<!--<div th:fragment="nav">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <a class="navbar-brand" href="#">Boot Security</a>-->

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#" th:href="@{~/index}"><i class="fa fa-home"></i>Home</a>-->
<!--                </li>-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <a class="nav-link" href="#" th:href="@{~/profile/index}">Profile</a>-->
<!--                </li>-->
<!--                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">-->
<!--                    <a class="nav-link" href="#" th:href="@{~/admin/index}">Admin</a>-->
<!--                </li>-->
<!--                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item">-->
<!--                    <a class="nav-link" href="#" th:href="@{~/management/index}">Management</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">-->
<!--                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>-->
<!--                <button sec:authorize="isAnonymous()" th:href="@{~/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->
</body>
</html>