<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TranDaiNghia University</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/login.css}" />
</head>
<body>
<div class="container-fluid full-height">
    <div class="row">
        <div class="col-md-7 left-container" style="background-color: black; height: 100vh;">
        </div>
        <div class="col-md-5 p-3 text-center">
            <img src="/assets/images/logo.jpg" alt="" height="150px">
            <h1 class="mt-2">Tran Đai Nghia</h1>
            <h1>University</h1>
            <div class="mt-6 fs-2">

            </div>
            <form class="mt-3" name="f" th:action="@{/login}" method="post">
                <div class="form-group row">
                    <div class="offset-md-2 col-md-8">
                        <input type="text" class="form-control" id="txtUsername" name="txtUsername" placeholder="Username" required style="border-radius: 25px">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-8">
                        <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Password"
                               style="border-radius: 25px" required>
                    </div>
                </div>
                <div class="form-group row mt-2">

                </div>
                <div class="form-group row mt-2 col-md-8 offset-md-2">
                    <div class="col-md">
                        <button type="submit" class="btn btn-primary" style="border-radius: 25px; width: 100%">Sign in</button>
                    </div>
                </div>
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Tran Dai Nghia University 2019</span>
                        </div>
                    </div>
                </footer>
        </div>
        </form>
    </div>
</div>






<!--<div>-->
<!--    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">-->
<!--        <div class="card">-->
<!--            <div class="card-header">-->
<!--                <i class="fa fa-user"></i> Please Login-->
<!--            </div>-->
<!--            <div class="card-block" style="padding: 24px;">-->
<!--                <form name="f" th:action="@{/login}" method="post">-->
<!--                    <fieldset>-->
<!--                        &lt;!&ndash; Thymeleaf + Spring Security error display &ndash;&gt;-->
<!--                        <div th:if="${param.error}" class="alert alert-danger">-->
<!--                            Invalid username and password.-->
<!--                        </div>-->

<!--                        <div th:if="${param.logout}" class="alert alert-success">-->
<!--                            You have been logged out.-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Login Controls &ndash;&gt;-->
<!--                        <div class="form-group">-->
<!--                            <label for="txtUsername">Username</label>-->
<!--                            <input type="text" class="form-control" id="txtUsername" name="txtUsername"-->
<!--                                   placeholder="Username">-->
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <label for="txtPassword">Password</label>-->
<!--                            <input type="password" class="form-control" id="txtPassword" name="txtPassword"-->
<!--                                   placeholder="Password">-->
<!--                        </div>-->

<!--                        <div class="form-check">-->
<!--                            <input type="checkbox" class="form-check-input" id="checkRememberMe" name="checkRememberMe">-->
<!--                            <label class="form-check-label" for="checkRememberMe">Remember me?</label>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Login Button &ndash;&gt;-->
<!--                        <div class="form-actions" style="margin-top: 12px;">-->
<!--                            <button type="submit" class="btn btn-success">Log in</button>-->
<!--                        </div>-->
<!--                    </fieldset>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>