<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="dashboard.html :: headerfiles">
</head>
<body>
<body>
<div class="wrapper ">
    <div th:insert="dashboard.html :: sidebar"></div>
    <div class="main-panel" >
        <nav th:insert="dashboard.html :: navbar"></nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success d-flex justify-content-between align-items-center mb-3" >
                                <h4 class="card-title "><strong>Quản Lý Người Dùng</strong></h4>
                                <a href="/user/create" type="button" class="btn btn-info">Thêm mới</a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="dtBasicExample">
                                        <thead>
                                        <th>
                                            UserName
                                        </th>
                                        <th>
                                            Full Name
                                        </th>
                                        <th>
                                            Email
                                        </th>

                                        <th class="text-center">
                                            Thao Tác
                                        </th>
                                        </thead>
                                        <tbody>
                                        <tr  th:each="user: ${users}">
                                            <td th:text="${user.username}"> </td>
                                            <td th:text="${user.fullname}"> </td>
                                            <td th:text="${user.email}"> </td>

                                            <td class="td-actions text-lg-center">
                                                <a th:href="@{'/user/delete/' + ${user.username}}" class="m-auto" data-toggle="modal" data-target="#deleteModal" rel="tooltip" title="Xóa Loại"> <i class="material-icons">close</i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>