<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="dashboard.html :: headerfiles">
</head>
<body>
<div class="wrapper ">
    <div th:insert="dashboard.html :: sidebar"></div>
    <div class="main-panel" >
        <nav th:insert="dashboard.html :: navbar"></nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Phân Quyền Truy Cập</h4>

                            </div>
                            <div class="card shadow mb-4">

                                <div>
                                    <form action="#" th:action="@{/authorize/update}" th:object="${authorization}" method="post">
                                        <div class="card-header py-3">

                                            <div style="width:49%; float:left">
                                                <select class="custom-select users" th:field="*{username}" required>
                                                    <option value="" >-- Chọn giáo viên --</option>
                                                    <option th:each="user : ${users}"  th:value="${user.username}" th:text="${user.fullname}" ></option>
                                                </select>
                                            </div>

                                            <div style="width:49%; float:right">
                                                <select class="custom-select" th:field="*{role}" required>
                                                    <option value="" >-- Chọn tất cả --</option>
                                                    <option value="USER" >User</option>
                                                    <option value="ADMIN" >Admin</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row pt-5 pl-5">
                                            <div class="form-check col-md-3" th:each="lv : ${levelDocs}">
                                                <label class="form-check-label" >
                                                    <input class="form-check-input" type="checkbox" th:value="${lv.id}" name="levels">
                                                    <span class="form-check-sign" >
                                                        <span class="check" ></span>
                                                     </span>
                                                    <label th:text="${lv.name}"></label>
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary float-right mr-5 mt-3 mb-4">Save</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>